<!-- If this file changes, logging is re-configured within 5 seconds and/or after 16 log-statements. -->
<configuration scan="true" scanPeriod="5 seconds">

	<property name="log.home" value="target" />
	<property name="app.name" value="fwutil-jdbc" />
	<property name="log.name" value="${log.home}/${app.name}" />

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- daily rollover with gz compression for old log-files -->
			<fileNamePattern>${log.name}.%d.%i.log.gz</fileNamePattern>
			<!-- per file max 100MB with oldest file max 7 days old and all archived log files together max 1GB -->
       		<maxFileSize>100MB</maxFileSize>
			<maxHistory>7</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{dd HH:mm:ss:SSS} %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="nl.fw.util" level="info" />
	<logger name="nl.fw.util.jdbc" level="debug" />
	<logger name="nl.fw.util.socket" level="info" />
	<logger name="com.zaxxer.hikari" level="debug" />

	<root level="info">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
